<h1>Ingredients</h1>
<%= link_to 'New Ingredient', new_ingredient_path, class: "btn btn-primary", role: "button" %>
<%= link_to "Import Ingredients", "/imports", class: "btn btn-primary", role: "button" %>

<ul>
    <% @ingredients.each do |ingredient| %>
    <li>
        <%= link_to ingredient.name, ingredient %>
    </li>
    <% end %>
</ul>
