<h1>All Recipes</h1>
<% @recipes.each do |recipe| %>
    <div class="card">
        <% if recipe.image %>
        <img class="card-img-top" src="">
        <%end%>
        <div class="card-body">
            <h5 class="card-title"><%= recipe.name %></h5>
            <p class="card-text"><%= recipe.short_description %></p>
        </div>
    </div>
<% end %>